USE [master]
GO
/****** Object:  Database [GMAP]    Script Date: 26.08.2022 19:09:46 ******/
CREATE DATABASE [GMAP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GMAP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GMAP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GMAP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GMAP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GMAP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GMAP]
GO
/****** Object:  Table [dbo].[Сoordinates]    Script Date: 26.08.2022 19:09:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сoordinates](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[X] [float] NOT NULL,
	[Y] [float] NOT NULL,
	[Place] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Сoordinates] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
